<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/layui.css}"  media="all" type="text/css">
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}" media="all" type="text/css">
</head>
<body>

<div class="ui divided items" style="padding: 30px 20px!important;margin-right: 40px!important;">
    <div class="item">
        <div class="image">
            <img th:src="@{/images/aijiu02.jpg}">
        </div>
        <div class="content">
            <a class="header" th:href="@{/article1}">艾灸的作用</a>
            <div class="meta">
                <span>Posted by yjy</span>
            </div>
            <div class="description">
                <p>灸法是中医针灸学中的一个部分。艾灸疗法是通过通过温热等物理刺激的作用，来进行扶正祛邪，平衡阴阳，防病治病，
                    康复保健。很多人都会用艾灸来养生，其中值得注意一点，新艾容易使人产生燥火！所以艾条最好选择三年以上的陈艾，
                    烟味有清香但不呛人，热力和药力更持久。现代灸疗的防病保健作用已成为重要保健方法之一， 灸法的作用主要表现在以下几个方面。</p>
            </div>
            <div class="extra">
                2021/06/05
            </div>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img th:src="@{/images/aijiu03.jpg}">
        </div>
        <div class="content">
            <a class="header" th:href="@{/article2}">艾灸的“三要三不要”，确实很实用，你知道几条？</a>
            <div class="meta">
                <span>Posted by yjy</span>
            </div>
            <div class="description">
                <p>艾灸是一种纯天然的，无副作用的调理方法，温热的艾通过穴位的渗透可以起到促进血液循环、疏通经络、调节脏腑阴阳平衡，
                    为身体补充阳气气和能量，排除邪气。艾性属木，木燃烧能生火，象征着天上的太阳，行人体之阳以助生能，热胜寒，能生火，
                    火温土，生万物，火化气，能伐水，这是艾草本有的自然属性。艾灸连续燃烧，使之温热之气由肌表透达经络，又因经络和脏腑相互联系，
                    使之通达五脏六腑、十二经络，循环全身</p>
            </div>
            <div class="extra">
                2021/06/05
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/lib/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/semantic.min.js}"></script>

</body>
</html>