<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjy.moxibustion.dao.PositionContentMapper">
  <resultMap id="BaseResultMap" type="com.yjy.moxibustion.pojo.PositionContent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="gaishu" jdbcType="VARCHAR" property="gaishu" />
    <result column="zhengzhuang" jdbcType="VARCHAR" property="zhengzhuang" />
    <result column="bingyin" jdbcType="VARCHAR" property="bingyin" />
    <result column="aijiuquxue" jdbcType="VARCHAR" property="aijiuquxue" />
    <result column="anli" jdbcType="VARCHAR" property="anli" />
    <result column="tihui" jdbcType="VARCHAR" property="tihui" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
</mapper>